main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    background-image: url(../imagens/backgraund1.png);
    background-size: cover;
    background-position: center;
    padding: 20px 20px 50px;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 550px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 10px 0px;
    padding: 15px;
    border-radius: 10px;
}
.grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    width: 100%;
    max-width:550px;
    margin: auto;
}
.card{
    aspect-ratio: 3/4;
    width: 100%;
    background-color: #333;
    border-radius: 5px;
    position: relative;
    transition: all 500ms ease;
    transform-style: preserve-3d;
}
.revealcard{
    transform: rotateY(180deg);

}

.face{
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    border: 2px solid #333;
}
.front{
    transform: rotateY(180deg);
}
.back{
    background-image:  url(../imagens/luffy.png);
    backface-visibility: hidden;
}